# --- Archivos de Sistema ---
Thumbs.db
Desktop.ini
.DS_Store

# --- Archivos Temporales de Editores (Xournal++, Office, etc.) ---
*.autosave
*.autosave.xopp
*.~*
~$*

# --- Archivos de configuración de editores de código ---
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# --- Archivos de registro y temporales ---
*.log
*.tmp
*.bak